# Project : Airline on-time performance (exploratory analysis)

<a id="toc"></a>

## Table of Contents

* [Introduction](#intro)
* [Preliminary Data Wrangling](#wrangling)
* [Exploratory Data Analysis](#eda)
* [Conclusions](#conclusions)

<a id="intro"></a>

[TOC](#intro)               
## Introduction

We are going to investigate flight datasets in order to gain insights on airline on-time performance from 2005 to 2008. The goal is to understand reasons that tend to make a flight delayed or cancelled. In particular, we will be intersted in the following key questions:
* Are there certain destination or arrival cities that are home to more delays or cancellations?
* What are the preferred times for flights to occur? 
* Are there any changes over multiple years?

* When is the best time of day/day of week/time of year to fly to minimise delays?
* Do older planes suffer more delays?
* How does the number of people flying between different locations change over time?
* How well does weather predict plane delays?
* Can we detect cascading failures as delays in one airport create delays in others? Are there critical links in the system?
* What are the flight patterns 


> **Report date : February 2023**     
> **Written by : [Ekoue LOGOSU-TEKO](https://www.linkedin.com/in/ekouelogosuteko/?locale=en_US)**

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

from dateutil.parser import parse
from datetime import datetime

%matplotlib inline

> Load in your dataset and describe its properties through the questions below. Try and motivate your exploration goals through this section.

<a id="wrangling"></a>

## Preliminary Data Wrangling
[TOC](#intro)          

### General Properties                
Our main data come from 04 different datasets, each one targeting a particular year, from 2005 to 2008. We will load each of them.

In [2]:
flight_df_05 = pd.read_csv("./datasets/2005.csv")
flight_df_05.head().T

                        0       1       2       3       4
Year                 2005    2005    2005    2005    2005
Month                   1       1       1       1       1
DayofMonth             28      29      30      31       2
DayOfWeek               5       6       7       1       7
DepTime            1603.0  1559.0  1603.0  1556.0  1934.0
CRSDepTime           1605    1605    1610    1605    1900
ArrTime            1741.0  1736.0  1741.0  1726.0  2235.0
CRSArrTime           1759    1759    1805    1759    2232
UniqueCarrier          UA      UA      UA      UA      UA
FlightNum             541     541     541     541     542
TailNum            N935UA  N941UA  N342UA  N326UA  N902UA
ActualElapsedTime   158.0   157.0   158.0   150.0   121.0
CRSElapsedTime        174     174     175     174     152
AirTime             131.0   136.0   131.0   129.0   106.0
ArrDelay            -18.0   -23.0   -24.0   -33.0     3.0
DepDelay             -2.0    -6.0    -7.0    -9.0    34.0
Origin                BOS     BOS     BOS     BOS     ORD
Dest                  ORD     ORD     ORD     ORD     BOS
Distance              867     867     867     867     867
TaxiIn                  4       6       9      11       5
TaxiOut                23      15      18      10      10
Cancelled               0       0       0       0       0
CancellationCode      NaN     NaN     NaN     NaN     NaN
Diverted                0       0       0       0       0
CarrierDelay            0       0       0       0       0
WeatherDelay            0       0       0       0       0
NASDelay                0       0       0       0       0
SecurityDelay           0       0       0       0       0
LateAircraftDelay       0       0       0       0       0

In [3]:
flight_df_06 = pd.read_csv("./datasets/2006.csv")
flight_df_06.head().T

                        0       1       2       3       4
Year                 2006    2006    2006    2006    2006
Month                   1       1       1       1       1
DayofMonth             11      11      11      11      11
DayOfWeek               3       3       3       3       3
DepTime             743.0  1053.0  1915.0  1753.0   824.0
CRSDepTime            745    1053    1915    1755     832
ArrTime            1024.0  1313.0  2110.0  1925.0  1015.0
CRSArrTime           1018    1318    2133    1933    1015
UniqueCarrier          US      US      US      US      US
FlightNum             343     613     617     300     765
TailNum            N657AW  N834AW  N605AW  N312AW  N309AW
ActualElapsedTime   281.0   260.0   235.0   152.0   171.0
CRSElapsedTime      273.0   265.0   258.0   158.0   163.0
AirTime             223.0   214.0   220.0   126.0   132.0
ArrDelay              6.0    -5.0   -23.0    -8.0     0.0
DepDelay             -2.0     0.0     0.0    -2.0    -8.0
Origin                ATL     ATL     ATL     AUS     AUS
Dest                  PHX     PHX     PHX     PHX     PHX
Distance             1587    1587    1587     872     872
TaxiIn                 45      27       4      16      27
TaxiOut                13      19      11      10      12
Cancelled               0       0       0       0       0
CancellationCode      NaN     NaN     NaN     NaN     NaN
Diverted                0       0       0       0       0
CarrierDelay            0       0       0       0       0
WeatherDelay            0       0       0       0       0
NASDelay                0       0       0       0       0
SecurityDelay           0       0       0       0       0
LateAircraftDelay       0       0       0       0       0

In [4]:
flight_df_07 = pd.read_csv("./datasets/2007.csv")
flight_df_07.head().T

                        0       1       2       3      4
Year                 2007    2007    2007    2007   2007
Month                   1       1       1       1      1
DayofMonth              1       1       1       1      1
DayOfWeek               1       1       1       1      1
DepTime            1232.0  1918.0  2206.0  1230.0  831.0
CRSDepTime           1225    1905    2130    1200    830
ArrTime            1341.0  2043.0  2334.0  1356.0  957.0
CRSArrTime           1340    2035    2300    1330   1000
UniqueCarrier          WN      WN      WN      WN     WN
FlightNum            2891     462    1229    1355   2278
TailNum              N351    N370    N685    N364   N480
ActualElapsedTime    69.0    85.0    88.0    86.0   86.0
CRSElapsedTime       75.0    90.0    90.0    90.0   90.0
AirTime              54.0    74.0    73.0    75.0   74.0
ArrDelay              1.0     8.0    34.0    26.0   -3.0
DepDelay              7.0    13.0    36.0    30.0    1.0
Origin                SMF     SMF     SMF     SMF    SMF
Dest                  ONT     PDX     PDX     PDX    PDX
Distance              389     479     479     479    479
TaxiIn                  4       5       6       3      3
TaxiOut                11       6       9       8      9
Cancelled               0       0       0       0      0
CancellationCode      NaN     NaN     NaN     NaN    NaN
Diverted                0       0       0       0      0
CarrierDelay            0       0       3      23      0
WeatherDelay            0       0       0       0      0
NASDelay                0       0       0       0      0
SecurityDelay           0       0       0       0      0
LateAircraftDelay       0       0      31       3      0

In [5]:
flight_df_08 = pd.read_csv("./datasets/2008.csv")
flight_df_08.head().T

                        0       1       2       3       4
Year                 2008    2008    2008    2008    2008
Month                   1       1       1       1       1
DayofMonth              3       3       3       3       3
DayOfWeek               4       4       4       4       4
DepTime            1343.0  1125.0  2009.0   903.0  1423.0
CRSDepTime           1325    1120    2015     855    1400
ArrTime            1451.0  1247.0  2136.0  1203.0  1726.0
CRSArrTime           1435    1245    2140    1205    1710
UniqueCarrier          WN      WN      WN      WN      WN
FlightNum             588    1343    3841       3      25
TailNum            N240WN  N523SW  N280WN  N308SA  N462WN
ActualElapsedTime    68.0    82.0    87.0   120.0   123.0
CRSElapsedTime       70.0    85.0    85.0   130.0   130.0
AirTime              55.0    71.0    71.0   108.0   107.0
ArrDelay             16.0     2.0    -4.0    -2.0    16.0
DepDelay             18.0     5.0    -6.0     8.0    23.0
Origin                HOU     HOU     HOU     HOU     HOU
Dest                  LIT     MAF     MAF     MCO     MCO
Distance              393     441     441     848     848
TaxiIn                4.0     3.0     2.0     5.0     6.0
TaxiOut               9.0     8.0    14.0     7.0    10.0
Cancelled               0       0       0       0       0
CancellationCode      NaN     NaN     NaN     NaN     NaN
Diverted                0       0       0       0       0
CarrierDelay         16.0     NaN     NaN     NaN    16.0
WeatherDelay          0.0     NaN     NaN     NaN     0.0
NASDelay              0.0     NaN     NaN     NaN     0.0
SecurityDelay         0.0     NaN     NaN     NaN     0.0
LateAircraftDelay     0.0     NaN     NaN     NaN     0.0

In [6]:
flight_df_05.shape

(7140596, 29)

We have 29 features, whose signification we obtained through a search over [the net](https://www.transtats.bts.gov/DatabaseInfo.asp?QO_VQ=EFD&Yv0x=D) :
* **Year**: year (e.g. 2008)

* **Month**: 1-12 

* **DayofMonth**: 1-31

* **DayOfWeek**: 1 (Monday) - 7 (Sunday)

* **DepTime**: Actual departure time (local, hhmm).

* **CRSDepTime**: Scheduled departure time (local, hhmm).

* **ArrTime**: Actual arrival time (local, hhmm).

* **CRSArrTime**: Scheduled arrival time (local, hhmm).

* **UniqueCarrier**: Unique Carrier Code. It is the Carrier Code most recently used by a carrier. A numeric suffix is used to distinguish duplicate codes, for example, PA, PA (1), PA (2). This field is to be used to perform analysis of data reported by one and only one carrier.

* **FlightNum**: A one to four character alpha-numeric code for a particular flight.

* **TailNum**: Plane tail number; aircraft registration, unique aircraft identifier.

* **CRSElapsedTime**: Scheduled elapsed time computed from gate departure time to gate arrival time. In minutes.

* **ActualElapsedTime**: elapsed time computed from gate departure time to gate arrival time. In minutes.

* **AirTime**: The time spent by the plane in the air. In minutes.

* **ArrDelay**: Arrival delay of the flight, in minutes. Arrival delay equals the difference of the actual arrival time minus the scheduled arrival time. A flight is considered on-time when it arrives less than 15 minutes after its published arrival time.

* **DepDelay**: Departure delay of the flight, in minutes. It is the difference between the scheduled departure time and the actual departure time from the origin airport gate.

* **Origin**: Origin IATA airport code. Supposedly, this is the origin airport.

* **Dest**: Destination IATA airport code. Supposedly, this is the destination airport.

* **Distance**: The distance of the flight. In miles.


* **TaxiIn**: Taxi-in time, in minutes. The time elapsed between wheels down and arrival at the destination airport gate.

* **TaxiOut**: Taxi-out time, in minutes. The time elapsed between departure from the origin airport gate and wheels off.

* **Cancelled**: A flight that was listed in a carrier's computer reservation system during the seven calendar days prior to scheduled departure but was not operated.

* **CancellationCode**: reason for cancellation (A = carrier, B = weather, C = NAS, D = security)

* **Diverted**: 1 = yes, 0 = no. Indicate whether or not a flight was required to land at a destination other than the original scheduled destination for reasons beyond the control of the pilot/company.

* **CarrierDelay**: In minutes. Carrier delay record the delays that are within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.

* **WeatherDelay**: In minutes. Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.

* **NASDelay**: In minutes. Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.

* **SecurityDelay**: In minutes. Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.

* **LateAircraftDelay** in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.
          
          

*Note* : CRS stand for Computer Reservation System. CRS provide information on airline schedules, fares and seat availability to travel agencies and allow agents to book seats and issue tickets.

A quick observation : we have our main data separated over 04 datasets, we will later fuse them together as a whole in one dataframe.

We also have complementary datasets, which give informations about variables in the main datasets.

In [7]:
# Load freight companies data
carrier_df = pd.read_csv("./datasets/carriers.csv")
carrier_df.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [8]:
# Load planes data
plane_df = pd.read_csv("./datasets/plane-data.csv")
plane_df

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

In [9]:
plane_df["manufacturer"].unique()

array([nan, 'EMBRAER', 'AIRBUS INDUSTRIE', 'BOEING', 'DOUGLAS',
       'MCDONNELL DOUGLAS', 'CANADAIR', 'BOMBARDIER INC', 'AIRBUS',
       'CESSNA', 'SAAB-SCANIA', 'BEECH', 'SIKORSKY',
       'GULFSTREAM AEROSPACE', 'AEROSPATIALE', 'PIPER', 'AGUSTA SPA',
       'AERO COMMANDER', 'PAIR MIKE E', 'AVIAT AIRCRAFT INC', 'RAVEN',
       'DEHAVILLAND', 'WOBIG WAYNE R', 'BELL', 'FREDERICK CHRIS K',
       'FRIEDEMANN JON', 'STINNETT RON', 'HELIO', 'LEBLANC GLENN T',
       'MARZ BARRY', 'MORSE GEORGE JR', 'AEROSPATIALE/ALENIA',
       'BAUMAN RANDY', 'DIAMOND AIRCRAFT IND INC', 'BOEING OF CANADA LTD',
       'MCDONNELL DOUGLAS CORPORATION', 'MCDONNELL DOUGLAS AIRCRAFT CO',
       'COBB INTL/DBA ROTORWAY INTL IN', 'AERONCA', 'MAULE'], dtype=object)

In [10]:
# Load airports data
airport_df = pd.read_csv("./datasets/airports.csv")
airport_df.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

Our analysis will be focused on the features of our main datasets, while the secondary datasets are only here to provide additional information to our work when necessary (e.g. we don't want to put in a plot the ID of an airport instead of its name).

Let's first fuse the content of our main datasets.

In [11]:
# Observing the shape of the datasets from each year
flight_df_05.shape, flight_df_06.shape, flight_df_07.shape, flight_df_08.shape

((7140596, 29), (7141922, 29), (7453215, 29), (2389217, 29))

We will take note of the fact that the data of 2008 is little compared to the others years.

In [12]:
# Fusing the datasets from each year so that our data become a whole
flight_df = pd.concat([flight_df_05,flight_df_06,flight_df_07,flight_df_08],ignore_index=True)
flight_df.shape

(24124950, 29)

### Getting an overview of the data structure

In [13]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24124950 entries, 0 to 24124949
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 5.2+ GB

In [14]:
# Check N/A values count for each variable
flight_df.isna().sum()

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                480854
CRSDepTime                  0
ArrTime                533901
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                 42474
ActualElapsedTime      533901
CRSElapsedTime           1405
AirTime                533901
ArrDelay               533901
DepDelay               480854
Origin                      0
Dest                        0
Distance                    0
TaxiIn                  70096
TaxiOut                 64442
Cancelled                   0
CancellationCode     23644094
Diverted                    0
CarrierDelay          1804634
WeatherDelay          1804634
NASDelay              1804634
SecurityDelay         1804634
LateAircraftDelay     1804634
dtype: int64

In [15]:
# Check null values count for each variable
flight_df.isnull().sum()

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                480854
CRSDepTime                  0
ArrTime                533901
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                 42474
ActualElapsedTime      533901
CRSElapsedTime           1405
AirTime                533901
ArrDelay               533901
DepDelay               480854
Origin                      0
Dest                        0
Distance                    0
TaxiIn                  70096
TaxiOut                 64442
Cancelled                   0
CancellationCode     23644094
Diverted                    0
CarrierDelay          1804634
WeatherDelay          1804634
NASDelay              1804634
SecurityDelay         1804634
LateAircraftDelay     1804634
dtype: int64

N/A check and null check are giving the same result, so there is nothing to worry about there underlying content

In [16]:
flight_df.head().T

                        0       1       2       3       4
Year                 2005    2005    2005    2005    2005
Month                   1       1       1       1       1
DayofMonth             28      29      30      31       2
DayOfWeek               5       6       7       1       7
DepTime            1603.0  1559.0  1603.0  1556.0  1934.0
CRSDepTime           1605    1605    1610    1605    1900
ArrTime            1741.0  1736.0  1741.0  1726.0  2235.0
CRSArrTime           1759    1759    1805    1759    2232
UniqueCarrier          UA      UA      UA      UA      UA
FlightNum             541     541     541     541     542
TailNum            N935UA  N941UA  N342UA  N326UA  N902UA
ActualElapsedTime   158.0   157.0   158.0   150.0   121.0
CRSElapsedTime      174.0   174.0   175.0   174.0   152.0
AirTime             131.0   136.0   131.0   129.0   106.0
ArrDelay            -18.0   -23.0   -24.0   -33.0     3.0
DepDelay             -2.0    -6.0    -7.0    -9.0    34.0
Origin                BOS     BOS     BOS     BOS     ORD
Dest                  ORD     ORD     ORD     ORD     BOS
Distance              867     867     867     867     867
TaxiIn                4.0     6.0     9.0    11.0     5.0
TaxiOut              23.0    15.0    18.0    10.0    10.0
Cancelled               0       0       0       0       0
CancellationCode      NaN     NaN     NaN     NaN     NaN
Diverted                0       0       0       0       0
CarrierDelay          0.0     0.0     0.0     0.0     0.0
WeatherDelay          0.0     0.0     0.0     0.0     0.0
NASDelay              0.0     0.0     0.0     0.0     0.0
SecurityDelay         0.0     0.0     0.0     0.0     0.0
LateAircraftDelay     0.0     0.0     0.0     0.0     0.0

In [17]:
flight_df.shape

(24124950, 29)

In [18]:
# flight_df.dropna(inplace=True)
# flight_df.shape

One thing to note is that there are some time data under one or two digit, instead of four digits. For example, `55` or `7`. Such an entry should originally be prefixed by `0`s under their string form, before having the `0`s removed when they were parsed to int. For example `0055` or `0007` which will stand for `00:05` and `00:07`.           
And example of such an entry is in the next cell. We will take note of that case so that we take the appropriate steps when working on the time related variables.

In [19]:
flight_df.iloc[166,:]

Year                   2005
Month                     1
DayofMonth                5
DayOfWeek                 3
DepTime                55.0
CRSDepTime             2115
ArrTime               309.0
CRSArrTime             2319
UniqueCarrier            UA
FlightNum               546
TailNum              N819UA
ActualElapsedTime      74.0
CRSElapsedTime         64.0
AirTime                42.0
ArrDelay              230.0
DepDelay              220.0
Origin                  ORD
Dest                    DAY
Distance                240
TaxiIn                  4.0
TaxiOut                28.0
Cancelled                 0
CancellationCode        NaN
Diverted                  0
CarrierDelay            0.0
WeatherDelay           44.0
NASDelay               10.0
SecurityDelay           0.0
LateAircraftDelay     176.0
Name: 166, dtype: object

**Data Overview conclustion** :      
* We have 24124950 samples for 29 variables. 
* Dropping the null values in our main dataset let us with only 2 remaining samples. So we will focus on dropping samples which have null value related to delay variables, which will hopefully let us with a good number of data to work with.   
* New datetime variables, such as `DepDate` and `ArrDate`, should be created based on the existing date and time variables in the dataset so that our future datetime based operations are easier and cleaner.

### Data cleaning

Since our work will revolve around on-time performance, we will remove all samples whose delay observations are missing.

In [20]:
flight_df.dropna(subset=["CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay"] ,inplace=True)
flight_df.shape

(22320316, 29)

In [21]:
flight_df.dropna(subset=["ArrDelay","DepDelay"] ,inplace=True)
flight_df.shape

(21856511, 29)

In [22]:
flight_df.isna().sum()

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                     0
CRSDepTime                  0
ArrTime                     0
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                     1
ActualElapsedTime           0
CRSElapsedTime              0
AirTime                     0
ArrDelay                    0
DepDelay                    0
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     21856509
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

Nearlly all information in CancellationCode is N/A. So I will drop this feature.

In [23]:
flight_df.shape

(21856511, 29)

In [24]:
flight_df.drop(["CancellationCode"],axis=1,inplace=True)
flight_df.shape

(21856511, 28)

In [25]:
flight_df.isna().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              1
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

Only one plane doesn't have a tail-number in our dataset. We shall drop it.

In [26]:
flight_df.dropna(inplace=True)
flight_df.shape

(21856510, 28)

In [27]:
flight_df.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [28]:
# Check for duplicate values
flight_df.duplicated().sum()

46

In [29]:
# Drop duplicate values
flight_df.drop_duplicates(inplace=True)

In [30]:
# Confirm that duplicate values were removed
flight_df.duplicated().sum()

0

In [31]:
flight_df["DepTime"].value_counts()

700.0     65611
600.0     60473
655.0     51520
630.0     47336
800.0     46527
          ...
2621.0        1
2549.0        1
2633.0        1
2544.0        1
2703.0        1
Name: DepTime, Length: 1601, dtype: int64

In [32]:
# Convert DepTime variable to int (to remove decimal), then to string (to facilitate future datetime engineering)
flight_df["DepTime"] = flight_df["DepTime"].astype(int).astype(str)

In [33]:
# Convert CRSDepTime variable to string (to facilitate future datetime engineering)
flight_df["CRSDepTime"] = flight_df["CRSDepTime"].astype(str)

In [34]:
# Convert ArrTime variable to int (to remove decimal), then to string (to facilitate future datetime engineering)
flight_df["ArrTime"] = flight_df["ArrTime"].astype(int).astype(str)

In [35]:
# Convert CRSArrTime variable to string (to facilitate future datetime engineering)
flight_df["CRSArrTime"] = flight_df["CRSArrTime"].astype(str)

In [36]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21856464 entries, 0 to 24124930
Data columns (total 28 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            object
 5   CRSDepTime         object
 6   ArrTime            object
 7   CRSArrTime         object
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  Diverted           int64
 23  CarrierDelay       float64
 24  WeatherDelay       float64
 25  NASDelay           float64
 26  SecurityDelay      float64
 27  LateAircraftDelay  float64
dtypes: float64(12), int64(8), object(8)
memory usage: 4.7+ GB

In [37]:
# flight_df["DepTime_"] = flight_df["DepTime"][:2]+":"+flight_df["DepTime"][2:]
# flight_df.head().T

In [38]:
# flight_df.reset_index(inplace=True)

In [39]:
# datetime_str = "09-19-2022 13:55"
# datetime.strptime(datetime_str,"%m-%d-%Y %H:%M")

In [40]:
time = "1305"
time[:2] + ":"+time[2:]

'13:05'

In [41]:
datetime_str = "{}-{}-{} {}".format(1,21,2005,"13:05")
datetime.strptime(datetime_str,"%m-%d-%Y %H:%M") # df.loc[index,new_datetime_column] =

datetime.datetime(2005, 1, 21, 13, 5)

In [42]:
# flight_df.query("Month=={} &  DayofMonth=={} &  Year=={} & DepTime=={}".format(1,21,2005,"1305"))

In [43]:
# flight_df.iloc[165:167,:]

In [44]:
flight_df.query("index==166").T

                      166
Year                 2005
Month                   1
DayofMonth              5
DayOfWeek               3
DepTime                55
CRSDepTime           2115
ArrTime               309
CRSArrTime           2319
UniqueCarrier          UA
FlightNum             546
TailNum            N819UA
ActualElapsedTime    74.0
CRSElapsedTime       64.0
AirTime              42.0
ArrDelay            230.0
DepDelay            220.0
Origin                ORD
Dest                  DAY
Distance              240
TaxiIn                4.0
TaxiOut              28.0
Cancelled               0
Diverted                0
CarrierDelay          0.0
WeatherDelay         44.0
NASDelay             10.0
SecurityDelay         0.0
LateAircraftDelay   176.0

In [45]:
flight_df.head().T

                        0       1       2       3       4
Year                 2005    2005    2005    2005    2005
Month                   1       1       1       1       1
DayofMonth             28      29      30      31       2
DayOfWeek               5       6       7       1       7
DepTime              1603    1559    1603    1556    1934
CRSDepTime           1605    1605    1610    1605    1900
ArrTime              1741    1736    1741    1726    2235
CRSArrTime           1759    1759    1805    1759    2232
UniqueCarrier          UA      UA      UA      UA      UA
FlightNum             541     541     541     541     542
TailNum            N935UA  N941UA  N342UA  N326UA  N902UA
ActualElapsedTime   158.0   157.0   158.0   150.0   121.0
CRSElapsedTime      174.0   174.0   175.0   174.0   152.0
AirTime             131.0   136.0   131.0   129.0   106.0
ArrDelay            -18.0   -23.0   -24.0   -33.0     3.0
DepDelay             -2.0    -6.0    -7.0    -9.0    34.0
Origin                BOS     BOS     BOS     BOS     ORD
Dest                  ORD     ORD     ORD     ORD     BOS
Distance              867     867     867     867     867
TaxiIn                4.0     6.0     9.0    11.0     5.0
TaxiOut              23.0    15.0    18.0    10.0    10.0
Cancelled               0       0       0       0       0
Diverted                0       0       0       0       0
CarrierDelay          0.0     0.0     0.0     0.0     0.0
WeatherDelay          0.0     0.0     0.0     0.0     0.0
NASDelay              0.0     0.0     0.0     0.0     0.0
SecurityDelay         0.0     0.0     0.0     0.0     0.0
LateAircraftDelay     0.0     0.0     0.0     0.0     0.0

In [46]:
# time="55"
# if len(time)<4:
#     diff = 4-len(time)
#     time = "0"*diff+time
# time

In [47]:
def engineer_datetime_feature(df:pd.DataFrame, new_datetime_column:str, time_column:str, 
                              month_column="Month", day_column="DayofMonth", year_column:str="Year",
                              verbose=False)->pd.DataFrame:
    
    # Create new column (the column to hold the datetime data)
    df[new_datetime_column] = np.nan 
    
    print("Dataset shape : {}".format(df.shape))
    print("---------"*3)
    
    # Iterate over each sample in the dataset
    for index,row in df.iterrows(): 
        print("Processing row index : {} ".format(index))
#         print(row)
#         print("..."*2)
#         print(row["popularity"])
#         print("..."*2)
#         print(index)
#         print("---"*8)

        # Retrieve date sub-informations from the related variables
        month = row[month_column]
        day = row[day_column]
        year = row[year_column]
        
        time=row[time_column]
        # Put 0 at the start of time which lenght are < 4 (because this error should be the result of parsing the time to int)
        if len(time)<4:
            diff = 4-len(time)
            time = "0"*diff+time
        
        # Put a semi-column to format time properly
        time = "{}:{}".format(time[:2], time[2:])  
        
        
        datetime_str = "{}-{}-{} {}".format(month,day,year,time)
        df.loc[index,new_datetime_column] = datetime.strptime(datetime_str,"%m-%d-%Y %H:%M") 
    
    print("Processed all rows")
    
    return df

In [ ]:
flight_df = engineer_datetime_feature(flight_df, new_datetime_column="DepDateTime", time_column="DepTime")
flight_df.head(3).T

Dataset shape : (21856464, 29)
---------------------------

In [ ]:
# Save the dataset, so that I am not required to re-run all the previous cells when I resume the work after a break
saved_datasets_folder="datasets/saved"

flight_df.to_csv("{}/flight_df.csv".format(saved_datasets_folder),index=False)

#### Creating `DepDate` feature

In [ ]:
flight_df.head(3).T

In [ ]:
//////////

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.


> **Rubric Tip**: The project (Parts I alone) should have at least 15 visualizations distributed over univariate, bivariate, and multivariate plots to explore many relationships in the data set.  Use reasoning to justify the flow of the exploration.



>**Rubric Tip**: Use the "Question-Visualization-Observations" framework  throughout the exploration. This framework involves **asking a question from the data, creating a visualization to find answers, and then recording observations after each visualisation.**



>**Rubric Tip**: Visualizations should depict the data appropriately so that the plots are easily interpretable. You should choose an appropriate plot type, data encodings, and formatting as needed. The formatting may include setting/adding the title, labels, legend, and comments. Also, do not overplot or incorrectly plot ordinal data.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

## Conclusions
>You can write a summary of the main findings and reflect on the steps taken during the data exploration.


> Remove all Tips mentioned above, before you convert this notebook to PDF/HTML


> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML or PDF` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!